.secciones {
    #sec1{
        font-size: 27px;
    }
    display: grid;
    text-align: center;
    color: map-get($colores , color-texto );
    font-family: "Josefin Sans", sans-serif;
    font-size: 12px;
    padding: 50px;
    .plan {
        font-weight: bolder;
        font-size: 20px;
        
      }
      .seccion1 {
        letter-spacing: 2px;
        padding: 30px;
        font-size: 20px;
        
        
        div{
            padding: 15px;
            
            a{
                color: map-get($colores, color-terciario );
        background-color: map-get($colores, color-fondo );
        font-size: 13px;
        font-family: "Josefin Sans", sans-serif;
        text-decoration: none;
        padding: 20px 40px;
        border-radius: 25px;
        font-weight: bold;
        transition: all 300ms;
        &:hover{
            background-color: map-get($colores, color-secundario );
            color: map-get($colores , color-texto );
            transform: scale(1,15);
        }
                }
            }
        }
        
      }
  
 .contenedor{
    display: flex;
    justify-content: center;
 }